@model Social_GraphWeb.Controllers.FriendsViewModel

@{
	ViewBag.Title = "Friends of " + Model.Me.Data.FirstName;
	Layout = "../shared/_Layout.cshtml";
}

<div>
	<a class="extra-link" href="@Url.Action("FriendsOfFriends", new { startNodeId = Model.MyId, endLevel = 15 })">@Model.Me.Data.FirstName's whole network</a>	
</div>
<div>
	<a class="extra-link" href="@Url.Action("FriendsOfFriends", new { startNodeId = Model.MyId, startLevel = 1 ,endLevel = 1 })">@Model.Me.Data.FirstName's immediate friends</a>	
</div>
<div>
	<a class="extra-link" href="@Url.Action("FriendsOfFriends", new { startNodeId = Model.MyId, startLevel = 2, endLevel = 2 })">Friends of @Model.Me.Data.FirstName's friends</a>	
</div>

@if (Model.Friends.Any())
{
	<p class="path-title">There are <label class="highlight-digit">@Model.Friends.Count</label> people in this part of @Model.Me.Data.FirstName's network</p> 
	<ul>
		@foreach (var person in Model.Friends)
		{
		<li>
			<a href="@Url.Action("FriendsOfFriends", new { startNodeId = person.Reference.Id, endLevel = 100 })">@person.Data.FirstName</a>
			<a class="extra-link" href="@Url.Action("Path", new { startNodeId = person.Reference.Id, endNodeId = Model.Me.Reference.Id })">(How does @person.Data.FirstName know @Model.Me.Data.FirstName?)</a>
		</li>
		}
	</ul>

}
else
{
	<br/>
	<div class="error">Ooh... looks like @Model.Me.Data.FirstName has a sad, but no friends :(</div>
}