@model Social_GraphWeb.Controllers.PathViewModel

@{
	ViewBag.Title = "The path between " + Model.Me.Data.FirstName + " and " + Model.Target.Data.FirstName;
	Layout = "../Shared/_Layout.cshtml";
}

<div>
	<p class="path-title">There are <label class="highlight-digit">@Model.CountOfHops</label> people between @Model.Me.Data.FirstName and @Model.Target.Data.FirstName:</p> 
	<ol>
	@{
		var count = 0;
		foreach (var relationship in Model.ShortestPath.Relationships)
		{
			var startNode = Model.ShortestPath.Nodes.First(n => n.Reference == relationship.StartNodeReference);
			var endNode = Model.ShortestPath.Nodes.First(n => n.Reference == relationship.EndNodeReference);

			var startName = startNode.Data.FirstName;
			var endName = endNode.Data.FirstName;

			var relationshipTypeKey = Model.RelationshipDisplay(relationship.TypeKey);
					
			count++;
			<li data-start-id="@startNode.Reference.Id" data-end-id="@endNode.Reference.Id" data-relationship-id="@relationship.Reference.Id">
				<a href="@Url.Action("KnownPeople", new { startNodeId = startNode.Reference.Id, endNodeId = Model.Me.Reference.Id})">@startName</a>
				<label class="relationship">@relationshipTypeKey</label>
				<a href="@Url.Action("KnownPeople", new { startNodeId = endNode.Reference.Id, endNodeId = Model.Me.Reference.Id})">@endName</a>
			</li>
		}
	}
	</ol>
		
	
	@if (Model.OtherPaths.Any())
	{
	 <br></br>
	<p class="path-title">There are <label class="highlight-digit">@Model.OtherPaths.Count()</label> other paths between @Model.Me.Data.FirstName and @Model.Target.Data.FirstName:</p> 
	<div>
		@foreach (var path in Model.OtherPaths)
		{
			<ol>
				@foreach (var relationship in path.Relationships)
				{
					var startNode = path.Nodes.First(n => n.Reference == relationship.StartNodeReference);
					var endNode = path.Nodes.First(n => n.Reference == relationship.EndNodeReference);

					var startName = startNode.Data.FirstName;
					var endName = endNode.Data.FirstName;

					var relationshipTypeKey = Model.RelationshipDisplay(relationship.TypeKey);
		  
					<li data-start-id="@startNode.Reference.Id" data-end-id="@endNode.Reference.Id" data-relationship-id="@relationship.Reference.Id">
						<a href="@Url.Action("KnownPeople", new { startNodeId = startNode.Reference.Id, endNodeId = Model.Me.Reference.Id})">@startName</a>
					<label class="relationship">@relationshipTypeKey</label>
					<a href="@Url.Action("KnownPeople", new { startNodeId = endNode.Reference.Id, endNodeId = Model.Me.Reference.Id})">@endName</a>
					</li>
				}
			</ol>
		}
	</div>
	}
</div>