@model Social_GraphWeb.Controllers.PathViewModel

@{
	Layout = "../Shared/_Layout.cshtml";
	ViewBag.Title = "The Path to Financial Development";
}

<!DOCTYPE html>

<html>
	<head>
		<title>Path</title>
	</head>
	<body>
		<div>
			<p>There are @Model.CountOfHops people between you and big money:</p> 
			<ol>
			@{
				var count = 0;
				foreach (var relationship in Model.ShortestPath.Relationships)
				{
					var startNode = Model.ShortestPath.Nodes.First(n => n.Reference == relationship.StartNodeReference);
					var endNode = Model.ShortestPath.Nodes.First(n => n.Reference == relationship.EndNodeReference);

					var startName = Model.NodeName(startNode);
					var endName = Model.NodeName(endNode);
						
					count++;
					<li data-start-id="@startNode.Reference.Id" data-end-id="@endNode.Reference.Id" data-relationship-id="@relationship.Reference.Id">
						@startName @relationship.TypeKey @endName
						@*@((endNode.Reference == Model.Target.Reference || startNode.Reference == Model.Target.Reference) ? "(big money!)" : "")*@
					</li>
				}
			}
			</ol>
			
			<p>There are @Model.OtherPaths.Count() other paths between you and big money:</p> 
			<div>
				@foreach (var path in Model.OtherPaths)
				{
					<ol>
						@foreach (var relationship in path.Relationships)
						{
							var startNode = path.Nodes.First(n => n.Reference == relationship.StartNodeReference);
							var endNode = path.Nodes.First(n => n.Reference == relationship.EndNodeReference);

							var startName = Model.NodeName(startNode);
							var endName = Model.NodeName(endNode);
		  
							<li data-start-id="@startNode.Reference.Id" data-end-id="@endNode.Reference.Id" data-relationship-id="@relationship.Reference.Id">
								@startName @relationship.TypeKey @endName
							</li>
						}
					</ol>
				}
			</div>
		</div>
		
		<a href="@Url.Action("Index")">Home Page</a>
	</body>
</html>